<p-card header="Escrever nova musica" subheader="Seja um tibiused" [style]="{width: '360px','display': 'inline-block'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <div class="imagemCard">
        <img  alt="Card" src="assets/music.png">
    </div>
    </ng-template>
   

        <p-button label="" icon="pi pi-plus" (onClick)="abrirEditor()"></p-button>

</p-card>


<p-carousel *ngIf="itens" [value]="itens" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="header">
        <h5>Musicas Inspirações</h5>
    </ng-template>
    <ng-template let-item pTemplate="itens">
        <div class="product-item">
            <div class="product-item-content">
                <div class="mb-3">
                    <img src="assets/Menu.png" [alt]="item.nome" class="product-image" />
                </div>
                <div>
                    <h4 class="mb-1">{{item.nome}}</h4>
                    <h6 class="mt-0 mb-3">{{item.descricao}}</h6>
                  
                    <div class="car-buttons mt-5">
                        <p-button type="button" styleClass="p-button p-button-rounded mr-2" icon="pi pi-search"></p-button>
                        <p-button type="button" styleClass="p-button-success p-button-rounded mr-2" icon="pi pi-star-fill"></p-button>
                        <p-button type="button" styleClass="p-button-help p-button-rounded" icon="pi pi-cog"></p-button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>