.card{
    display: flex;
    align-items: center;
    width: 360px;

}

.imagemCard{
    width: 20%;
    align-items: center;
    display: inline-flex
}


.product-item {
    .product-item-content {
        border: 1px solid var(--surface-d);
        border-radius: 3px;
        margin: .3rem;
        text-align: center;
        padding: 2rem 0;
    }

    .product-image {
        width: 20%;
        
    }
}