

<div class="header">
    <app-top-bar></app-top-bar>

    <div class="inner-header flex" >
        <div>
            <i class="pi pi-apple"></i>
            <p>{{tibs}}</p>
            <router-outlet></router-outlet>
            <div class="dock-window">
                <p-dock [model]="dockItems" position="left">
                    <ng-template pTemplate="item" let-item>
                        <div class="menuBar">
                        <img [src]="item.icon" [alt]="item.label" width="100%" (click)="irParaMenu()">
                    </div>
                    </ng-template>
                </p-dock>
            </div>
          </div>
    </div>
    <app-footer></app-footer>
</div>

